:root {
    --font: Helvetica Neue;
    --font-size: 13pt;
    --line-height: 1.5em;
    --text-ratio: 1.6666666667em
}

@media only screen and (max-width: 1024px){
    body{
        margin: 20px auto;
    }
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: 160px auto;
    width: 692px;
    color: #424242;
}

h1 {
    font-size: calc(2 * var(--text-ratio));
    margin-bottom: 30pt;
}

hr {
    width: 60pt;
    margin-left: 0;
    height: 2px;
    background-color: #333;
    border-width: 0;
    margin-bottom: 14pt;
    
}

h2 {
    font-size: var(--text-ratio);
    margin-bottom: 30pt;
}

p {
    margin-bottom: var(--font-size);
}